<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bupt.mountwutai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.guide.DetailActivity" />
        <activity android:name=".ui.activity.SplishActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="1dca3533274a42aa05cf7e440a1b34b6" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".ui.activity.main.CustomActivity" />
        <activity android:name=".ui.activity.main.CommonDetailActivity" />
        <activity android:name=".ui.activity.main.HomeMoreActivity" />
        <activity android:name=".ui.activity.main.SummaryActivity" />
        <activity android:name=".ui.activity.main.GuideActivity" />
        <activity android:name=".ui.activity.CommonActivity" />
        <activity android:name=".ui.activity.main.ReligiousAffairsActivity" />
        <activity android:name=".ui.activity.main.TravelPlanActivity" />
        <activity android:name=".ui.activity.main.LiveActivity" />
        <activity android:name=".ui.activity.buddhist.BuddhistActivity" />
        <activity android:name=".ui.activity.guide.TicketlistActivity" />
        <activity android:name=".ui.activity.main.PoliticsActivity" />
        <activity android:name=".ui.activity.buddhist.BuddhismDetailActivity" />
        <activity
            android:name=".ui.activity.main.LivingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.main.PartyActivity" />
        <activity android:name=".ui.activity.main.Party2Activity"></activity>
    </application>

</manifest>